@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  height: 0;
  width: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
